[package]
authors = ["CESS LAB"]
edition = "2021"
license = "Unlicense"
name = "cess-node-runtime"
repository = "https://github.com/CESSProject/cess"
version = "0.9.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { workspace = true, default-features = false, features = [
	"derive",
	"max-encoded-len",
] }
scale-info = { workspace = true, default-features = false, features = [
	"derive",
	"serde",
] }
static_assertions = { workspace = true }
log = { workspace = true }
serde_json = { workspace = true, features = ["alloc", "arbitrary_precision"] }
primitive-types = { workspace = true, features = [
	"codec",
	"num-traits",
	"scale-info",
] }

polkadot-sdk = { workspace = true, features = [
	"frame-election-provider-support",
	"frame-executive",
	"frame-support",
	"frame-system-rpc-runtime-api",
	"frame-system",
	"pallet-asset-conversion-tx-payment",
	"pallet-asset-conversion",
	"pallet-asset-rate",
	"pallet-asset-tx-payment",
	"pallet-assets",
	"pallet-authority-discovery",
	"pallet-authorship",
	"pallet-babe",
	"pallet-bags-list",
	"pallet-balances",
	"pallet-beefy-mmr",
	"pallet-beefy",
	"pallet-collective",
	"pallet-contracts",
	"pallet-election-provider-multi-phase",
	"pallet-fast-unstake",
	"pallet-grandpa",
	"pallet-im-online",
	"pallet-indices",
	"pallet-insecure-randomness-collective-flip",
	"pallet-migrations",
	"pallet-mmr",
	"pallet-multisig",
	"pallet-nomination-pools-runtime-api",
	"pallet-nomination-pools",
	"pallet-offences",
	"pallet-parameters",
	"pallet-preimage",
	"pallet-proxy",
	"pallet-scheduler",
	"pallet-session",
	"pallet-state-trie-migration",
	"pallet-sudo",
	"pallet-sudo",
	"pallet-timestamp",
	"pallet-transaction-payment-rpc-runtime-api",
	"pallet-transaction-payment",
	"pallet-transaction-storage",
	"pallet-treasury",
	"pallet-utility",
	"sp-api",
	"sp-authority-discovery",
	"sp-block-builder",
	"sp-consensus-babe",
	"sp-consensus-beefy",
	"sp-consensus-grandpa",
	"sp-core",
	"sp-genesis-builder",
	"sp-inherents",
	"sp-io",
	"sp-offchain",
	"sp-runtime",
	"sp-session",
	"sp-staking",
	"sp-transaction-pool",
	"sp-version",
	"tuples-96",
	"with-tracing",
] }

# Frontier
fp-account = { workspace = true, features = ["serde"] }
fp-evm = { workspace = true, features = ["serde"] }
fp-rpc = { workspace = true }
fp-self-contained = { workspace = true, features = ["serde"] }
pallet-base-fee = { workspace = true }
pallet-dynamic-fee = { workspace = true }
pallet-ethereum = { workspace = true }
pallet-evm = { workspace = true }
pallet-evm-chain-id = { workspace = true }
pallet-evm-precompile-modexp = { workspace = true }
pallet-evm-precompile-sha3fips = { workspace = true }
pallet-evm-precompile-simple = { workspace = true }

# CESS
ces-pallet-mq = { workspace = true }
ces-pallet-mq-runtime-api = { workspace = true }
ces-types = { workspace = true }
ces-rrsc-vrf-solver = { workspace = true }
cess-node-primitives = { workspace = true }
cp-cess-common = { workspace = true }
cp-scheduler-credit = { workspace = true }
pallet-audit = { workspace = true }
pallet-cacher = { workspace = true }
pallet-cess-staking = { workspace = true }
pallet-cess-treasury = { workspace = true }
pallet-evm-account-mapping = { workspace = true }
pallet-file-bank = { workspace = true }
pallet-oss = { workspace = true }
pallet-reservoir = { workspace = true }
pallet-scheduler-credit = { workspace = true }
pallet-sminer = { workspace = true }
pallet-storage-handler = { workspace = true }
pallet-tee-worker = { workspace = true }


[build-dependencies]
substrate-wasm-builder = { workspace = true, default-features = true }

[features]
default = ["std"]
std = [
	"codec/std",
	"log/std",
	"polkadot-sdk/std",
	"primitive-types/std",
	"scale-info/std",
	"serde_json/std",
	# Frontier
	"fp-account/std",
	"fp-evm/std",
	"fp-rpc/std",
	"fp-self-contained/std",
	"pallet-base-fee/std",
	"pallet-dynamic-fee/std",
	"pallet-ethereum/std",
	"pallet-evm-chain-id/std",
	"pallet-evm-precompile-modexp/std",
	"pallet-evm-precompile-sha3fips/std",
	"pallet-evm-precompile-simple/std",
	"pallet-evm/std",
	# CESS
	"ces-pallet-mq-runtime-api/std",
	"ces-pallet-mq/std",
	"ces-types/std",
	"ces-rrsc-vrf-solver/std",
	"cess-node-primitives/std",
	"pallet-audit/std",
	"pallet-cacher/std",
	"pallet-cess-staking/std",
	"pallet-cess-treasury/std",
	"pallet-evm-account-mapping/std",
	"pallet-file-bank/std",
	"pallet-oss/std",
	"pallet-reservoir/std",
	"pallet-scheduler-credit/std",
	"pallet-sminer/std",
	"pallet-storage-handler/std",
	"pallet-tee-worker/std",
]
runtime-benchmarks = [
	"polkadot-sdk/frame-benchmarking",
	"polkadot-sdk/frame-system-benchmarking",
	"polkadot-sdk/pallet-election-provider-support-benchmarking",
	"polkadot-sdk/runtime-benchmarks",
	"polkadot-sdk/sp-storage",
	# Frontier
	"pallet-ethereum/runtime-benchmarks",
	"pallet-evm/runtime-benchmarks",
	# CESS
	"pallet-cess-staking/runtime-benchmarks",
	"pallet-cess-treasury/runtime-benchmarks",
	"pallet-tee-worker/runtime-benchmarks",
	"pallet-audit/runtime-benchmarks",
	"pallet-file-bank/runtime-benchmarks",
	"pallet-sminer/runtime-benchmarks",
	"pallet-storage-handler/runtime-benchmarks",
	"pallet-oss/runtime-benchmarks",
	"pallet-cacher/runtime-benchmarks",
]
try-runtime = [
	"polkadot-sdk/try-runtime",
	# Frontier
	"fp-self-contained/try-runtime",
	"pallet-base-fee/try-runtime",
	"pallet-dynamic-fee/try-runtime",
	"pallet-ethereum/try-runtime",
	"pallet-evm-chain-id/try-runtime",
	"pallet-evm/try-runtime",
	# CESS
	"pallet-audit/try-runtime",
	"pallet-cacher/try-runtime",
	"pallet-cess-staking/try-runtime",
	"pallet-cess-staking/try-runtime",
	"pallet-cess-treasury/try-runtime",
	"pallet-evm-account-mapping/try-runtime",
	"pallet-file-bank/try-runtime",
	"pallet-oss/try-runtime",
	"pallet-reservoir/try-runtime",
	"pallet-scheduler-credit/try-runtime",
	"pallet-sminer/try-runtime",
	"pallet-storage-handler/try-runtime",
	"pallet-tee-worker/try-runtime",
]

only-attestation = []
verify-cesealbin = []
