[package]
authors = ['CESS LAB']
build = 'build.rs'
description = 'A fresh FRAME-based Substrate node, ready for hacking.'
edition = '2021'
license = 'Unlicense'
name = 'cess-node'
repository = 'https://github.com/CESSProject/cess'
version = '0.7.4'

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "cess-node"

[dependencies]
# third-party dependencies
array-bytes = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true, features = ["derive"], optional = true }
codec = { version = "3.2.2", package = "parity-scale-codec", default-features = false }
serde = { workspace = true, features = ["derive"] }
jsonrpsee = { workspace = true, features = ["server"] }
futures = { workspace = true, features = ["thread-pool"]}	
log = { workspace = true }
rand = { workspace = true }

# primitives
# sp-authorship = { workspace = true }
sp-api = { workspace = true }
sp-authority-discovery = { workspace = true }
sp-core = { workspace = true }
sp-consensus = { workspace = true }
cessp-consensus-rrsc = { workspace = true }
sp-consensus-grandpa = { workspace = true }
sp-runtime = { workspace = true }
sp-timestamp = { workspace = true }
sp-transaction-pool = { workspace = true }
sp-inherents = { workspace = true }
sp-keyring = { workspace = true }
sp-keystore = { workspace = true }
sp-transaction-storage-proof = { workspace = true }
sp-offchain = { workspace = true }
sp-session = { workspace = true }
sp-trie = { workspace = true }

# client dependencies
sc-client-api = { workspace = true }
sc-chain-spec = { workspace = true }
sc-consensus = { workspace = true }
sc-consensus-manual-seal = { workspace = true }
sc-transaction-pool = { workspace = true }
sc-transaction-pool-api = { workspace = true }
sc-network = { workspace = true }
sc-network-common = { workspace = true }
sc-network-sync = { workspace = true }
sc-consensus-slots = { workspace = true }
cessc-consensus-rrsc = { workspace = true }
# sc-consensus-uncles = { workspace = true }
grandpa = { workspace = true }
sc-rpc = { workspace = true }
sc-basic-authorship = { workspace = true }
sc-service = { workspace = true }
sc-telemetry = { workspace = true }
sc-executor = { workspace = true }
sc-authority-discovery = { workspace = true }
cessc-sync-state-rpc = { workspace = true }
sc-sysinfo = { workspace = true }
prometheus-endpoint = { workspace = true }

# frame dependencies
frame-system = { workspace = true }
frame-system-rpc-runtime-api = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-transaction-payment-rpc = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }
pallet-im-online = { workspace = true }

# node-specific dependencies
cess-node-runtime = { workspace = true }

# CLI-specific dependencies
sc-cli = { workspace = true }
frame-benchmarking-cli = { workspace = true }
try-runtime-cli = { workspace = true, optional = true }
serde_json = { workspace = true }

# Other

frame-benchmarking = { workspace = true }
mmr-rpc = { workspace = true }
substrate-state-trie-migration-rpc = { workspace = true }
sc-keystore = { workspace = true }
sc-rpc-api = { workspace = true }
sp-block-builder = { workspace = true }
sp-blockchain = { workspace = true }
substrate-frame-rpc-system = { workspace = true }
sc-rpc-spec-v2 = { workspace = true }
pallet-audit = { workspace = true }
sc-consensus-grandpa-rpc = { workspace = true }
cessc-consensus-rrsc-rpc = { workspace = true }
sc-consensus-epochs = { workspace = true }
pallet-contracts = { workspace = true }

# Frontier
fc-cli = { workspace = true }
fc-consensus = { workspace = true }
fc-db = { workspace = true }
fc-mapping-sync = { workspace = true }
fc-rpc = { workspace = true }
fc-rpc-core = { workspace = true }
fc-storage = { workspace = true }
fp-account = { workspace = true }
fp-dynamic-fee = { workspace = true }
fp-evm = { workspace = true }
fp-rpc = { workspace = true }

[build-dependencies]
try-runtime-cli = { workspace = true, optional = true }
substrate-build-script-utils = { workspace = true }

[features]
default = [
	"cli",
	# "with-rocksdb-weights",
	"rocksdb",
	"sql",
]
rocksdb = [
	"sc-cli/rocksdb",
	"sc-service/rocksdb",
	"fc-cli/rocksdb",
	"fc-db/rocksdb",
	"fc-mapping-sync/rocksdb",
	"fc-rpc/rocksdb",
]
sql = [
	"fc-db/sql",
	"fc-mapping-sync/sql",
]
# with-rocksdb-weights = ["frontier-template-runtime/with-rocksdb-weights"]
# with-paritydb-weights = ["frontier-template-runtime/with-paritydb-weights"]
# rpc-binary-search-estimate = ["fc-rpc/rpc-binary-search-estimate"]
runtime-benchmarks = [
	'cess-node-runtime/runtime-benchmarks',
	"frame-benchmarking/runtime-benchmarks",
	"frame-benchmarking-cli/runtime-benchmarks",
]
try-runtime = ["cess-node-runtime/try-runtime", "try-runtime-cli"]

cli = [
	"clap",
	"try-runtime-cli",
]
