[package]
name = "cestory-api"
version = "0.1.0"
edition = "2021"
resolver = "2"

[dependencies]
frame-system = { workspace = true }
sp-consensus-grandpa = { workspace = true }
sp-core = { workspace = true, features = ["full_crypto"] }
sp-application-crypto = { workspace = true, features = ["full_crypto"] }
sp-runtime = { workspace = true }
parity-scale-codec   = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
base64 = { workspace = true }
derive_more = { workspace = true, features = ["from_str"] }
prost = { workspace = true }
async-trait = { workspace = true }
anyhow = { workspace = true, optional = true }
log = { workspace = true }
reqwest = { workspace = true, optional = true, features = ["rustls-tls", "socks"] }
primitive-types = { workspace = true, optional = true }
im = { workspace = true }
tonic = { workspace = true }

ces-trie-storage = { workspace = true, features = ["serde"] }
ces-types = { workspace = true, features = ["enable_serde", "sgx"] }
ces-crypto = { workspace = true }
chain = { workspace = true }
ces-mq = { workspace = true }


[dev-dependencies]
insta = "1.13.0"
hex = "0.4.3"


[build-dependencies]
tonic-build = { workspace = true, features = ["prost"] }


[features]
default = ["std"]

std = [
    "derive_serde",
    "sp-core/full_crypto",
    "sp-runtime/std",
    "sp-application-crypto/std",
    "frame-system/std",
    "chain/std",
]

sgx = []
ceseal-client = [
    "anyhow",
    "reqwest",
]

derive_serde = [
    "ces-trie-storage/serde",
    "primitive-types/serde",
]
