[package]
name = "cess-node-primitives"
version = "2.0.0"
authors.workspace = true
description = "CESS node low-level primitives."
edition.workspace = true
license = "Apache-2.0"
homepage = "https://substrate.io"
repository.workspace = true
publish = false

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
std = ["sp-core/std", "sp-runtime/std"]
