[package]
edition = "2021"
name = "ceseal"
version = "0.4.1"
build = "build.rs"

[profile.release]
panic = "abort"

[dependencies]
anyhow = { version = "1" }
base64 = { version = "0.13", default-features = false, features = ["alloc"] }
clap = { version = "4.5", features = ["derive", "cargo"] }
const-str = { version = "0.5", features = ["proc"] }
hex_fmt = "0.3.0"
humantime = "2.1.0"
lazy_static = { version = "1.4.0", default-features = false }
num_cpus = "1.13"
parity-scale-codec = { version = "3.6.12", default-features = false }
reqwest = { version = "0.12", default-features = false, features = [
    "rustls-tls",
    "socks",
    "blocking",
    "hickory-dns",
] }
serde_json = "1.0"
serde = { version = "1.0", default-features = false, features = ["derive"] }
tracing = "0.1"
urlencoding = "2.1"
tokio = { version = "1", features = ["rt-multi-thread", "macros", "time"] }
tower = { version = "0.4", features = ["limit", "load-shed"] }
tonic = { version = "0.9.2" }
rustls-pki-types = { version = "=0.2.1", default-features = false, optional = true }
reqwest-env-proxy = { path = "../../../crates/reqwest-env-proxy" }
ces-sanitized-logger = { path = "../../../crates/ces-sanitized-logger" }
cestory = { path = "../../../crates/cestory" }
cestory-api = { path = "../../../crates/cestory/api", features = [
    "ceseal-client",
] }
cestory-pal = { path = "../../../crates/cestory/pal" }
ces-allocator = { path = "../../../crates/ces-allocator" }
ces-types = { path = "../../../crates/ces-types", default-features = false, features = [
    "enable_serde",
    "full_crypto",
] }
sgx-api-lite = { path = "../../../crates/sgx-api-lite" }
sgx-attestation = { path = "../../../crates/sgx-attestation", features = ["report"] }
# PODR2
threadpool = "1.8.1"
ces-pdp = { path = "../../../crates/ces-pdp" }

[build-dependencies]
vergen = { version = "8.3", features = ["build", "git", "gitcl"] }


[patch.crates-io]
ring = { git = "https://github.com/jasl/ring-xous", branch = "better-wasm32-support" }

frame-benchmarking = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-application-crypto = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-core = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-crypto-ec-utils = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-crypto-hashing = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-debug-derive = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-externalities = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-runtime = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-runtime-interface = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-runtime-interface-proc-macro = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-std = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-storage = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-tracing = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-wasm-interface = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }

[patch."https://github.com/paritytech/polkadot-sdk"]
frame-benchmarking = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-application-crypto = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-core = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-crypto-ec-utils = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-debug-derive = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-externalities = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-runtime = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-runtime-interface = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-runtime-interface-proc-macro = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-std = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-storage = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-tracing = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }
sp-wasm-interface = { git = "https://github.com/CESSProject/polkadot-sdk", branch = "stable2412" }


[features]
only-attestation = ["cestory/only-attestation", "cestory-api/only-attestation"]
verify-cesealbin = ["cestory/verify-cesealbin", "cestory-api/verify-cesealbin"]
